/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/* Poor man's normalize */
/* Hide the leaf logo */
.site-logo {
  display: none;
}
.outer-wrap {
  width: 100%;
  overflow: auto;
}
.inner-wrap {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.row::after {
  overflow: auto;
  clear: both;
}
/* Showing columns - testing */
.region-main,
.region-sidebar-left,
.region-sidebar-right {
  overflow: auto;
}
/* Main and sidebears layout */
.inner-wrap-main {
  overflow: auto;
}
.region-main {
  width: 70%;
  margin-left: 10%;
  float: left;
  overflow: auto;
}
.region-main.has-sidebar {
  margin-left: 0;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
/* Footer layout */
.footer-column {
  width: 33%;
  float: left;
}
.outer-wrap-footer {
  background-color: #007;
  color: #fff;
}
.inner-wrap-footer {
  background-color: #007;
  padding: 30px 0;
}
.region-footer > .block {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
.byline {
  font-size: 13px;
  float: left;
  outline-style: single;
  outline-color: #00008b;
  background-color: white;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Responsive navbar
 */
@media screen and (max-width: 960px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  .region-header-col-1,
  .region-header-col-3 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
